*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

:root{
    scroll-behavior: smooth;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

header{
    height: 100vh;
    background-image: linear-gradient(-225deg, rgba(44, 216, 213, 0.494) 0%, rgba(107, 141, 214, 0.424) 48%, rgba(143, 55, 215, 0.438) 100%),
     url(../img/Torre_pemex.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}

.contenedor-head{
    text-align: center;
    padding: 90px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.menu{
    position: fixed;
    top: 30px;
    left: 30px;
    background:rgba(201, 209, 212, 0.973);
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6 rgba(0,0,0,0.5)
}

.menu-navegacion{
    position: fixed;
    top: 0;
    left: 0;
    width: 15vw;
    height: 100%;
    background-image: linear-gradient(-225deg, 
    rgb(168, 191, 255) 0%, rgb(136, 77, 128) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /*transition: transform .3s ease-in-out;*/
    transform: translate(-110%);
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
}

.spread{
    transform: translate(0);
}

.menu-navegacion a{
    color: white;
    text-decoration: none;
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25;
}

/*Parte de nuestro sevicio en el index*/

.subtitulo{
    text-align: center;
    font-weight: 400;
    color: black;
    margin-bottom: 40px;
    font-size: 40px;
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.checklist-servicio_img{
    width: 40%
}

.checklist-servicio{
    width: 45%;
}

.service{
    margin-bottom: 20px;
}

.n-service{
    margin-top: 20px;
    margin-bottom: 10px;
    color:rgb(136, 77, 128,1);
}

.number{
    display: inline-block;
    background-image: linear-gradient(-225deg, 
    rgb(168, 191, 255) 0%, rgb(136, 77, 128) 100%);
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
    border-radius: 50%;
    line-height: 30px;
    margin-right: 5px;
}

.gallery{
    background: white;
}

.contenedor-galeria{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    cursor: pointer;
}

.imagen-light{
    position: fixed;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.texto2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-texto2{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.cont-texto2 img{
    width: 80%;
    display: block;
    margin: 0 auto;   
}

.n-expert{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}

/* Footer */

footer{
    background: linear-gradient(-225deg, 
    rgb(168, 191, 255) 0%, rgb(136, 77, 128) 100%);
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
    color: white;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
    
}

.contact-us{
    width: 40%;
    color: white;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.redes-sociales{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.redes-sociales-iconos{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    color: white;
}

.redes-sociales-iconos:hover{
    background: white;
    color: #764ba2;
}

.redes-sociales-iconos i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: white;
    margin-bottom: 60px;
}

@media screen and (max-width:800px){
    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }

    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }

    .checklist-servicio{
        width: 80%;
    }

    .service{
        margin-bottom: 30px;
    }
    
    .agregar-imagen{
        width: 80%;
    }

    .img-galeria{
        width: 45%;
    }

    .cont-texto1{
        width: 80%;
    }

    .footer-content{
        justify-content: center;
        
    }

    .redes-sociales{
        width: 80%;
        justify-content: space-evenly;
        margin-top: 30px;
    }

    .redes-sociales-icon{
        margin-left: 0;
    }

    .redes-sociales i{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:500px){
    .menu-navegacion{
        width: 100vw;
    }

    .menu{
        top: 20px;
        right: 20px;
    }

    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 30px;
    }

    .agregar-imagen{
        width: 95%;
    }

    .img-galeria{
        width: 95%;
    }

    .redes-sociales{
        width: 100%;
    }

    .contact-us{
        width: 90%;
    }
}